.card
{
    aspect-ratio: 1 / 1.25;

    width: 100%;
    max-width: 350px;

    border: 2px solid #000;
    border-radius: 10px;
    
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.cardHeader
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 10%;

    padding: 0 5%;

    background-color: royalblue;
    color: #FFF;
    
    border-bottom: 2px solid #000;
}

.cardOptions
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardOption button
{
    display: flex;
    justify-content: space-between;

    width: 100%;

    padding: 10px 10%;
}